# Regular Expression Assignment
# Submitted By: Tejaswani Yadav

In [522]:
import pandas as pd
import numpy as np
from pdfminer.high_level import extract_text
import re
import os
import zipfile

In [ ]:
## The Assignment reads the n no features from a stack of 30 PDF files.Store it into a dataframe and convert it into a csv file.

In [523]:
pwd # Finding the present working directory

'C:\\Users\\tejas\\OneDrive\\Desktop\\Assignment\\Data Wrangling\\Assignment 2\\homes'

In [524]:
# Changing the present working directory to the folder directory which contains the List of PDFs
Path="C:/Users/tejas/OneDrive/Desktop/Assignment/Data Wrangling/Assignment 2/homes"

In [525]:
pwd# Again checking the Directory Name

'C:\\Users\\tejas\\OneDrive\\Desktop\\Assignment\\Data Wrangling\\Assignment 2\\homes'

In [526]:
# Reading the PDFs path to a list
files_and_directories = os.listdir(Path)

In [527]:
# Checking the type of the File
type(files_and_directories)

list

In [528]:
# Change the Directory to the directory where PDFs are stored 
os.chdir(Path)

In [529]:
# Creating an empty list to store the path and extracting the file with Reading the binary from the PDFs and skipping the Images.
pathList=[]
for path in range(len(files_and_directories)):
    pathList.append(extract_text(files_and_directories[path],'rb'))

In [530]:
# Regular Expression for extracting the features
reRating=re.compile('\d+\.\d+')# Regular expression for reading the rating of the Rooms
rePrice=re.compile('\$[0-9]+')# Regular expression for reading the Price of the Rooms
reBed=re.compile('[0-9]+ bed')# Regular expression for reading the No of beds in a Room
reGuests=re.compile('[0-9]+ guests')# Regular expression for reading the No of guests for the Rooms
reBath=re.compile('[0-9]+ bath')# Regular expression for reading the no of Bathrooms in a Room
reReviews=re.compile('\d+ reviews')# Regular expression for knowing the no of reviews for Hotel
#reCheckout=re.compile('Checkout: ([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])\s*([AaPp][Mm])')
reHost=re.compile('Hosted by [a-zA-Z]+')# Regular expression for reading the Name of the host
reFree=re.compile('Free [a-zA-Z]+')# Regular Expression for reading the Free facilities available in Hotel

In [531]:
len(pathList)# Finding the No of PDFs in List

31

In [532]:
# Reallocating the Path to Roomlist
RoomList=pathList

In [533]:
R1=[]
for i in range(len(RoomList)):
    temp=[]
    if reRating.search(RoomList[i]):
        temp.append(re.findall(reRating,RoomList[i])[0])
    else:
        temp.append('No Rating Listed') 
    if rePrice.search(RoomList[i]):
        temp.append(re.findall(rePrice,RoomList[i])[0])
    else:
        temp.append('No Price Listed')         
    #temp.append(re.findall(rePrice,RoomList[i])[0])
    if reGuests.search(RoomList[i]):
        temp.append(re.findall(reGuests,RoomList[i])[0])
    else:
        temp.append('No of Guests not Listed')
    if reBed.search(RoomList[i]):
        temp.append(re.findall(reBed,RoomList[i])[0])
    else:
        temp.append('No Beds Listed')
    if reBath.search(RoomList[i]):
        temp.append(re.findall(reBath,RoomList[i])[0])
    else:
        temp.append('No Bath Listed') 
    temp.append(re.findall(reReviews,RoomList[i])[0])
    if reHost.search(RoomList[i]):
        temp.append(re.findall(reHost,RoomList[i])[0])
    else:
        temp.append('Cannot Identify Host Name') 
    if reFree.search(RoomList[i]):
        temp.append(re.findall(reFree,RoomList[i])[0])
    else:
        temp.append('No Extra Service') 

    #temp.append(re.findall(reCheckout,RoomList[i])[0])
    R1.append(temp)

In [534]:
# Finding the list with the No of Values
len(R1)

31

In [535]:
# FName Cotains a Column of Features 
FNAME=['Rating','Price','No of Guests','Bed','Bath','Reviews','Host','Free']
# Creating a Dictionary object of feature s and the rooms columns
data={'Features':FNAME,'Room1':R1[0],'Room2':R1[1],'Room3':R1[2],'Room4':R1[3],'Room5':R1[4],'Room6':R1[5],'Room7':R1[6],'Room8':R1[7],'Room9':R1[8],'Room10':R1[9],'Room11':R1[10],'Room12':R1[11],
     'Room12':R1[11],'Room13':R1[12],'Room14':R1[13],'Room15':R1[14],'Room16':R1[15],'Room17':R1[16],'Room18':R1[17]
     ,'Room19':R1[18],'Room20':R1[19],'Room21':R1[20],'Room22':R1[21],'Room23':R1[22],'Room24':R1[23]
     ,'Room25':R1[24],'Room26':R1[25],'Room27':R1[26],'Room28':R1[27],'Room29':R1[28],'Room30':R1[29]}
# Creating Dataframe of the Dictionary object
Features=pd.DataFrame(data)

In [536]:
# Printing the Feartures
Features

,Features,Room1,Room2,Room3,Room4,Room5,Room6,Room7,Room8,Room9,...,Room21,Room22,Room23,Room24,Room25,Room26,Room27,Room28,Room29,Room30
0,Rating,5.0,4.91,5.0,4.80,4.75,4.52,4.85,4.69,4.98,...,4.33,5.0,4.86,4.89,4.77,4.92,4.82,4.74,4.23,4.75
1,Price,$393,$267,$291,$739,$375,$324,$116,$271,$820,...,$617,$171,$629,$366,$550,$343,$350,$239,$172,$389
2,No of Guests,6 guests,6 guests,6 guests,12 guests,6 guests,6 guests,4 guests,6 guests,6 guests,...,8 guests,2 guests,6 guests,6 guests,6 guests,3 guests,4 guests,4 guests,4 guests,6 guests
3,Bed,2 bed,2 bed,2 bed,4 bed,2 bed,2 bed,2 bed,2 bed,2 bed,...,3 bed,1 bed,2 bed,2 bed,2 bed,1 bed,1 bed,1 bed,1 bed,2 bed
4,Bath,2 bath,2 bath,2 bath,4 bath,2 bath,2 bath,1 bath,1 bath,2 bath,...,2 bath,No Bath Listed,2 bath,1 bath,2 bath,1 bath,1 bath,1 bath,1 bath,2 bath
5,Reviews,9 reviews,127 reviews,61 reviews,10 reviews,59 reviews,56 reviews,192 reviews,36 reviews,48 reviews,...,3 reviews,9 reviews,22 reviews,110 reviews,81 reviews,78 reviews,464 reviews,139 reviews,40 reviews,103 reviews
6,Host,Hosted by Catalina,Hosted by Jacob,Hosted by Blake,Hosted by Kim,Hosted by Jenny,Hosted by Jenny,Hosted by Brian,Hosted by Evolve,Hosted by The,...,Hosted by Catalina,Hosted by Noelle,Hosted by Amber,Hosted by Michael,Hosted by Jeremy,Hosted by Helmut,Hosted by Helmut,Hosted by Michael,Hosted by Evolve,Hosted by Kim
7,Free,No Extra Service,Free parking,Free parking,No Extra Service,Free parking,No Extra Service,Free street,No Extra Service,Free parking,...,No Extra Service,No Extra Service,Free parking,No Extra Service,Free parking,Free parking,No Extra Service,No Extra Service,No Extra Service,No Extra Service

In [491]:
# Converting the DataFrame into a CSV file
Features.to_csv("features-retrieved_by_TejaswaniYadav.csv")